.hero-btn {
    padding: 18px 43px;
}
.btn#get-started{
    display: none;
}
.btn {
    border: none;
    padding: 18px 43px;
    text-transform: capitalize;
    border-radius: 0px 10px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    background-size: 200%;
    transition: 0.6s;
    box-shadow: 0px 7px 21px 0px rgb(245 24 24 / 40%);
    background-image: linear-gradient(to left, #ff4c31, #d60939, #ff4c31);
    background-position: right;
}
.menu{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #d60939;
}
.menu i.active{
    color: green;
}
.loader{
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 10px;
    background-color: red;
    z-index: 9999999;
}