:root {
    --main-bg-color1: #F4E6CD;
    --main-bg-color2: #CA9E59;
    --main-bg-color3: #77553F;
    --main-bg-color4: #5C3A1C;
}
.preloader{
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    margin: 0 auto;
}
.logo_contain{
    opacity: 0;
}
.preload-bar{
    width: 500px;
    height: 320px;
    position: relative;
    /* background: #ff3e3f; */
    z-index: 10;
}

.preload-img{
    position: absolute;
    top: 0;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
.preload-img img{
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
.logo{
    background-image: url("http://localhost:8888/proyectoMinero/proyecto_final/Assets/images/logo/logo-texto@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.load{
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: var(--main-bg-color2);
    border-radius: 5px;
    bottom: 0;
    overflow: hidden;
}
.load .loading{
    background-color: var(--main-bg-color3);
    height: 100%;
    width: 0;
}
@media (max-width: 600px) {
    .preload-bar {
        width: 150px;
        height: 170px;
    }
}
.top_bar {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: var(--main-bg-color1);
}
.playbutton {
    position: absolute;
    /* z-index: 200;
    width: 50px;
    height: 30px;
    background-color: #77553f;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; */

    opacity: 0;
}
/* .change_scene{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
.change_scene .bar.top {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
} */